doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    title tlife mockup
    != css('tasks')
    != js('tasks')
  body
    #container

    script#task-template(type='text/template')
      span.task-duration
        time.task-start {{ start }}
        time.task-end {{ end }}
      span.task-cnt {{ text }}
      div.task-actions
        span.task-action.task-modify M
        span.task-action.task-delete D
      ul.task-metas.hide
        {{#metaItems}}
        li.task-meta {{ item.k }} = {{ item.v }}
        {{/metaItems}}

    script#task-edit-template(type='text/template')
      span.task-duration
        input.task-start(name='start', type='text', value='{{ start }}')
        input.task-end(name='end', type='text', value='{{ end }}')
      input.task-cnt(name='text', type='text', value='{{ text }}')
      ul.task-metas
        {{#metaItems}}
        {{> metaItem}}
        {{/metaItems}}
        li.add-task-meta +
      button.task-save(type='submit') Save
      button.task-cancel(type='button') Cancel

    script#task-meta-input-template(type='text/template')
      li.task-meta
        input(name='metaKey', type='text', value='{{ item.k }}')
        | =
        input(name='metaValue', type='text', value='{{ item.v }}')

    script#daily-template(type='text/template')
      .tasks-daily
        h2
          time.task-date(datetime='{{ formatedDate }}') {{ formatedDate }}
          time.task-day {{ day }}
        ul.task-list
          li.task-add A

    // != js('main')
