doctype
html(lang='en')
  head
    meta(charset='UTF-8')
    title tlife mockup
    != css('tasks')
    != js('tasks')
  body
    #container

    script#task-template(type='text/template')
      span.task-duration
        time.task-start {{ start }}
        time.task-end {{ end }}
      span.task-cnt {{ text }}
      ul.task-metas
        {{#metaItems}}
        li.task-meta {{ item }}
        {{/metaItems}}

    script#daily-template(type='text/template')
      .tasks-daily
        h2
          time.task-date(datetime='{{ formatedDate }}') {{ formatedDate }}
          time.task-day {{ day }}
        ul.task-list

    // != js('main')
