// Micro ClearFix Mixin
.clearfix{
  zoom:1;
  &:before, &:after{ content:""; display:table; }
  &:after{ clear: both; }
}
.hide {
  display: none;
}

// Customized Reset Styles
ul {
  padding: 0
}
li {
  list-style: none;
}

// Scaffolding
body {
  font: 13px/1.5 'Gafata', sans-serif, arial;
}
h1 {
  text-shadow: 0 2px #fff;
}
#container {
  width: 400px;
  margin: 0 auto;
}

// Task daily section
.task-day {
  display: block;
}
.task-item {
  position: relative;
  margin-bottom: .5em;
  cursor: pointer;
  .active {
    display: block;
  }
  .error {
    border: 1px solid red;
  }
}
.conflict {
  color: red;
}
.task-list {
  position: relative;
  padding-bottom: 1.5em;
}
.task-views-bar {
  margin-bottom: 1em;
  text-align: right;
}
.task-static,
.task-edit {
  display: none;
}
.task-duration {
  margin-right: 1em;
}
.task-start {
  &:after {
    content: '-';
    margin: 0 .5em;
  }
}
.task-actions {
  position: absolute;
  right: 0;
  top: 0;
}
.task-action {
  margin-left: 5px;
}
.task-add {
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right;
  cursor: pointer;
}
